html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;

}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {text-decoration: none;


}

body {
    width: 100%;
    background: url("images/Фон 1.png") center no-repeat;
    background-size: cover;
}

.container {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;




}

/*header*/


header {
    background-color: rgba(0, 0, 0, .5);
    margin-bottom: 54px;
}
.logo-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;

}

.logo-inner:hover {
    color:#01813F ;
}

.nav {
    display: flex;

}

.logo-inner {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-welcome {

    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    margin: 5px;

}

.nav-text {

    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    margin-right: 5px;
}

.nav-text:hover {
    color:#01813F ;

}

.nav-item {
    margin: 0 10px;

}

.nav-item:hover{

    transform: scale(1.2);


}

.nav-item:hover,
.nav-item:focus {
    filter: brightness(0) saturate(100%) invert(41%) sepia(93%) saturate(6806%) hue-rotate(148deg) brightness(90%) contrast(99%);
}



.nav-icon {
    margin: 0 20px;
    position: relative;

}

.nav-icon::after {
    content: "";
    width: 1px;
    height: 19px;

    background: #FFFFFF;
    position: absolute;
    top: 4px;
    right: -8px;
}


/*section-form*/

.main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-block {

    background: #FFFFFF;
    width: 444px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    padding: 30px 60px;
    margin-bottom: 72px;


}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    position: relative;


}



.title-inner {

    color: #434343;

    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */

}


.text-inner:hover {
    text-decoration: underline;
}

.wrap::before{
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: -60px;

}

.text-inner {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.button-soc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}

.button-blue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    border-radius: 3px;
    padding: 0 20px;


}

.button-blue:hover {
    background-color: #123a8a;
}




.blue-text {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    position: relative;
;
}

.blue-text::before {
    content: "";
    width: 1px;
    height: 28px;
    flex-shrink: 0;
    opacity: 0.1;
    background: #0A162F;
    position: absolute;
    right: 85px;
    bottom: -6px;

}

.button-red {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    border-radius: 3px;
    padding: 0 20px;
}

.button-red:hover {
    background-color: #a12811;
}

.red-text{

    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    position: relative;
;
}

.red-text::before {
    content: "";
    width: 1px;
    height: 28px;
    flex-shrink: 0;
    opacity: 0.1;
    background: #2B0D09;
    position: absolute;
    right: 79px;
    bottom: -6px;

}

.sub-text {
    text-align: center;
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    margin-bottom: 12px;
    position: relative;
}

.sub-text::before {
    content: "";
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.88);
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 0;

}
.sub-text::after {
    content: "";
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.88);
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;

}

/*form*/


.form {
    display: block;
}

.first-name,
.last-name,
.email,
.first_password,
.second-password{
    width: 322px;
    height: 44px;
    flex-shrink: 0;
    border: none;
    margin-bottom: 15px;
    padding: 19px 15px  ;
}




::placeholder {
    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}


.checkbox-text {
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}


.checkbox-link {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.checkbox-link:hover {
    text-decoration: underline;
}

input[type=checkbox] {
    padding-left:5px;
    padding-right:5px;

    -webkit-appearance:button;

    border: double 1px #3CB878;

    background-color:transparent;
    color:#3CB878;
    white-space: nowrap;
    overflow:hidden;

    width:15px;
    height:15px;
}

input[type=checkbox]:checked {
    background-color: #3CB878;
    border-radius: 45px;
}

input[type=checkbox]:hover {
    box-shadow:0 0 10px #3CB878;
}


.custom-checkbox::after {
    content: "";
    color: #3CB878;
}


.custom-checkbox {
    margin-bottom: 20px;
}


.btn_inner {
    display: block;
    width: 324px;
    height: 46px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    border: none;



}

.text-button {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}



.btn_inner:hover {
    background: rgba(25, 119, 70, 0.8);
}

.first-name:hover {
    box-shadow:0 0 10px black;
}
.last-name:hover {
    box-shadow:0 0 10px black;
}
.first_password:hover {
    box-shadow:0 0 10px black;
}
.second-password:hover {
    box-shadow:0 0 10px black;
}
.email:hover{
    box-shadow:0 0 10px black;
}







